.NewAppointment  {
  text-align: left;
}

.NewAppointment .form-group {
  width: 100%;
}

.NewAppointment .form-group label,
.NewAppointment .form-group input,
.NewAppointment .form-group div {
  display: inline-block;
}

.NewAppointment .form-group label {
  padding-right: 10px;
  width: 60px;
}

.NewAppointment .form-group input[type=text] {
  width: calc(100% - 60px);
}
